<div class="background-image" [class.loading]="loading"></div>
<div *ngIf="loading" class="loading-overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="header">
    <a href="/" class="logo-link">
        <div class="logo"></div>
    </a>

    <div class="vertical-line"></div>
    <div>
        <a href="/map">
            <button class="btn btn">Mostrar mapa</button>
        </a>
    </div>
    <div class="vertical-line"></div>
    <div>
        <a href="/patrones/patentes">
            <button class="btn btn">Nuestros patrones de patentes</button>
        </a>
    </div>
    <div class="vertical-line"></div>
    <div>
        <a href="/poligonos">
            <button class="btn btn">Poligonos de estacionamiento</button>
        </a>
    </div>
    <div class="vertical-line"></div>
    <div>
        <a href="/registros-infracciones">
            <button class="btn btn">Registros de infraccion</button>
        </a>
    </div>
    <div class="vertical-line"></div>
    <div>
        <a href="/horarios/estacionamiento">
            <button class="btn btn">Horarios estacionamiento</button>
        </a>
    </div>
</div>

    


<div class="container white-div">
    <router-outlet></router-outlet>
</div>
