<div *ngIf="registroAgenteTransito">
    <h2 class="my-4" >Viendo registro de agente de transito N.° {{ registroAgenteTransito.id}}</h2>
    
    <form #form="ngForm">
        <div class="form.group">
            <label for="patente">Patente</label>
            <input name="patente" 
                   placeholder="Patente" 
                   class="form-control" 
                   [(ngModel)]="registroAgenteTransito.patente" 
                   required 
                   #nombre="ngModel" 
                   style="width: 50%;"
                   disabled="true"> 
            
           <label for="latitud">Precio por hora de estacionamiento:</label>
           <input name="horaRegistro" 
                placeholder="Hora del registro" 
                class="form-control" 
                style="width: 50%;" 
                [(ngModel)]="registroAgenteTransito.horaRegistro"
                required 
                disabled="true"
                #horaRegistro="ngModel">

            <label for="latitud">Latitud:</label>
            <input name="latitud" 
                    placeholder="Latitud" 
                    class="form-control" 
                    style="width: 50%;" 
                    [(ngModel)]="registroAgenteTransito.latitud"
                    required 
                    disabled="true"
                    #latitud="ngModel">
                    
            <label for="longitud">Longitud:</label>
            <input name="longitud" 
                    placeholder="Longitud" 
                    class="form-control" 
                    style="width: 50%;" 
                    [(ngModel)]="registroAgenteTransito.longitud"
                    required 
                    disabled="true"
                    #latitud="ngModel">
            
            <br>
            <label for="fotografia">Fotografia:</label>
            <br>
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Fotografía del registro" 
            style="max-width: 50%; height: auto; border: 1px solid #ccc; margin-top: 10px;" />

        </div>
    </form>    

    <!-- Aquí agregamos el contenedor del mapa -->
    <br>
    <label for="longitud">Ubicacion en el mapa:</label>
    <div id="map" class="map-container"></div>

    <form #form="ngForm">
        <!-- Botones de acción -->
        <div class="d-flex flex-row align-items-center justify-content-end my-3">
            <div>
                <button (click)="goBack()" class="btn btn-danger">Atrás</button>
            </div>
        </div>
    </form>

</div>