<div>
    <h2 class="my-4" *ngIf="nuevo">Nuevo patrón de patentes</h2>
    <h2 class="my-4" *ngIf="!nuevo">Editar patrón de patentes</h2>
    <h4 *ngIf="!nuevo">Editando: {{ patronPatente.nombre | uppercase }}</h4>
    
    <label for="name">Nombre:</label>
    <input name="nombre" placeholder="nombre" class="form-control" style="width: 30%;" [(ngModel)]="patronPatente.nombre" required #name="ngModel">

    <form #form="ngForm">
        <div class="my-4">
            <label>Ingresar texto para generar patrón (use 'A' para letras y '9' para dígitos):</label>
            <input [(ngModel)]="userInput" name="userInput" placeholder="AA999AA" class="form-control mx-1" style="width: 50%;" (ngModelChange)="updatePattern()" required>
        </div>

        <!-- Instructivo -->
        <div class="alert alert-info my-4" role="alert">
            Ingrese un patrón usando 'A' para letras y '9' para dígitos. No se permiten caracteres especiales u otros caracteres.
            Ejemplo válido: AA999AA.
        </div>

        <!-- Label dinámico que se actualiza con la expresión regular generada -->
        <div class="my-4">
            <h4>Expresión regular generada:</h4>
            <h6>{{ traducirExpresionRegular(generatedPattern) }}</h6>
            <label>{{ generatedPattern }}</label>
        </div>

        <!-- Botones de acción -->
        <div class="d-flex flex-row align-items-center justify-content-end my-3">
            <div>
                <button (click)="goBack()" class="btn btn-danger">Cancelar</button>
            </div>
            <div class="mx-4">
                <!-- Deshabilitar botón si el input es inválido -->
                <button (click)="save()" [disabled]="invalidInput" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </form>
</div>
