<div *ngIf="patronPatente">
    <h2 class="my-4" *ngIf="nuevo">Nuevo patrón de patentes</h2>
    <h2 class="my-4" *ngIf="!nuevo">Editar patrón de patentes</h2>
    <h4>Editando: {{ patronPatente.nombre | uppercase }}</h4>
    <label for="name">Nombre:</label>
    <input name="nombre" placeholder="nombre" class="form-control" style="width: 30%;" [(ngModel)]="patronPatente.nombre" required #name="ngModel">

    <form #form="ngForm">
        <div class="my-4">
            <label>Construir expresión regular:</label>
            <div *ngFor="let item of regexArray; let i = index" class="d-flex align-items-center mb-2">
                <select [(ngModel)]="regexArray[i].regex" name="regex{{i}}" class="form-control mx-1" (ngModelChange)="updatePattern()">
                    <option value="[A-Z]" [selected]="regexArray[i].regex === '[A-Z]'">Letra mayúscula [A-Z]</option>
                    <option value="\d" [selected]="regexArray[i].regex === '\d'">Dígito \d</option>
                </select>
                <input type="number" [(ngModel)]="regexArray[i].repetitions" name="repetitions{{i}}" placeholder="Repetir" min="1" class="form-control mx-1" style="width: 100px;" (ngModelChange)="updatePattern()">
                <button type="button" class="btn btn-danger mx-1" (click)="removeRegexItem(i)">Eliminar</button>
            </div>
            <button type="button" class="btn btn-outline-primary" (click)="addRegexItem()">Agregar Fila</button>
        </div>

        <!-- Label dinámico que se actualiza con la expresión regular generada -->
        <div class="my-4">
            <h4>Expresión regular generada:</h4>
            <h6>{{ traducirExpresionRegular(generatedPattern) }}</h6>
            <label>{{ generatedPattern }}</label>
        </div>

        <!-- Botones de acción -->
        <div class="d-flex flex-row align-items-center justify-content-end my-3">
            <div>
                <button (click)="goBack()" class="btn btn-danger">Cancelar</button>
            </div>
            <div class="mx-4">
                <button (click)="save()" [disabled]="!form.valid" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </form>
</div>
